<a href="https://colab.research.google.com/github/11249a193-cloud/python/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
age = 20
print(f"Variable: age")
print(f"Value: {20}")
print(f"Data Type: {type(20)}\n")

Variable: age
Value: 20
Data Type: <class 'int'>

In [ ]:
ph_value = 10.5
print(f"Variable:ph_value")
print(f"Value: {ph_value}")
print(f"Data Type: {type(ph_value)}\n")

Variable:ph_value
Value: 10.5
Data Type: <class 'float'>

In [ ]:
my_name= "pradeep!"
print(f"Variable: my_name")
print(f"Value: {my_name}")
print(f"Data Type: {type(my_name)}\n")

Variable: my_name
Value: pradeep!
Data Type: <class 'str'>

In [ ]:
my_answer = True
print(f"Variable: my_answer")
print(f"Value: {my_answer}")
print(f"Data Type: {type(my_answer)}\n")

Variable: my_answer
Value: True
Data Type: <class 'bool'>

In [ ]:
# 5. Tuple
# Tuple: An ordered, immutable collection of items.
my_tuple = (77, "green apple", True)
print(f"Tuple: {my_tuple}, Type: {type(my_tuple)}")

Tuple: (77, 'green apple', True), Type: <class 'tuple'>

In [ ]:
# 6. Dictionary
# Dictionary: An unordered collection of key-value pairs.
my_dict = {"name": "mad max", "age": 45, "city": "australlia"}
print(f"Dictionary: {my_dict}, Type: {type(my_dict)}")

Dictionary: {'name': 'mad max', 'age': 45, 'city': 'australlia'}, Type: <class 'dict'>

In [ ]:
# 7. Set
# Set: An unordered collection of unique items.
my_set = {1, 3, 5, 7, 9} # The duplicate '3' will be ignored.
print(f"Set: {my_set}, Type: {type(my_set)}")

Set: {1, 3, 5, 7, 9}, Type: <class 'set'>